<div class="container d-flex justify-content-center">
  <div class="text-center">
    <h1>Article</h1>
    <%= render "layouts/card_article", article: @article %>
    <%= link_to "Return list Articles" , articles_path, class: "btn btn-primary btn-sm m-4"  %>
  </div>
</div>

