<div class="container mt-4">
  <h1>edit your user</h2>
  <div class="container">
    <%= render "form" %>
    <%= link_to "Return list Articles" , articles_path, class: "btn btn-primary btn-sm m-4"  %>
  </div>
</div>
