<div class="container mt-4 d-flex justify-content-center ">
<div class="jumbotron">
  <h1 class="display-5 text-white">Welcome to AlphaBlog!</h1>
  <p class="lead">This is a little blog build on ruby on rails.</p>
  <hr class="my-4">
  <p class="lead d-flex justify-content-center">
    <p>Please signup for start.</p>
    <%= link_to "Sign Up",  signup_path, class: "btn btn-primary btn-lg" %>
  </p>
    <p class="text-center">Please signup for start.</p>
</div>
</div>

