<footer id="stucky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center ">
    <small> Copyrigth &copy; <%= link_to "David Ramirez", "https://github.com/Ramsteven", class:"text-white" %> </small>
  </div>
</footer>
